// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  padding: 20px;
}

span {
  margin-right: 25px;
}

#sort_list {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#input_form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#range {
  display: inline;
}

.content {
  display: inline;
}

#index {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 30px;
}
